
    <div class="border">
    <h1>Welcome to Pizza Palace</h1>

    <table class="table">
      <tr>
        <th>Item</th>
        <th>Category</th>
        <th>Price</th>
        <th>Vegetarian</th>
        <th></th>
      </tr>
      @for(m of menu; track $index){
      <tr>
        <td [class.out]="m.soldOut">{{m.name}}
          @if(m.soldOut){
          (Sold Out)
        }</td>
        <td>{{m.category}}</td>
        <td>{{m.price}}</td>
        @if(m.vegetarian){
          <td>Vegetarian</td>
        }
        @else {
          <td></td>
        } 
        <td>
          <button [disabled]="m.soldOut" (click)="addToCart(m)">Add to Order</button>
        </td>
      </tr>
      }
    </table>
    
    <h2>Current Order Total: ${{DisplayPrice()}}</h2>
  </div>
    
